html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: url('img/warback.jpg');
}

#gamespace{
  position: fixed;
  right: 0;
  left: 0;
  top: 20%;
}

#warspace {
  /*position: fixed;
  right: 0;
  left: 0;
  top: 20%;*/
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 2em;
  /*margin-top: -25%;*/
}

#warspace img {
  width: 20%;
}

#winner {
  /*position: fixed;
  right: 0;
  left: 0;
  top: 65%;*/
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 2em;
}

#title {
  /*position: fixed;
  left: 0;
  right: 0;*/
  margin-top: 15%;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  color: #4b5320;
  font-size: 6em;
}

#userinput {
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 20%;
  display: none;
  text-align: center;
  margin: auto;

}

#userinputfield {
  width: 35%;
}

#next {
  display: none;
  width: 15%;
  margin: auto;
  padding: 1%;
  position: fixed;
  right: 0;
  left: 0;
  top: 10%;
}

#next button{
  width: 100%;
  margin: auto;
}
